
html {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  scroll-behavior: smooth;
}  

*, *::before, *::after{
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

/* header settings */
.Head {
  display: flex;
  justify-content: space-between;
  position: fixed;
  margin-top: 30px;
  margin-left: 40px;
  width: 1200px;
  height: 60px;

}

.header_logo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 184px;
}

.p1logo {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
}


.p2logo {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  ;
}


.navbar {
  width: 443px;
  height: 27px;
  margin-top: 16px;
}


.navbar_ul {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 443px;
  height: 27px;

  color: #CDCDCD;
}
/* header settings */


/* section start_screen*/
.Start_screen {
  display: flex;
  justify-content: center;
  width: 1280px;
  height: 908px;
  background: linear-gradient(0deg, #211F20, #211F20),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  
}


.Start_screen_content {
  display: flex;
  justify-content: space-between;
  height: 728px;
  width: 1200px;
  margin-top: 180px;

}


.Content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 322px;
  width: 460px;
  margin-top: 163px;
}


.p_content1 {
  height: 114px;
  width: 310px;
  
  font-family: Georgia;
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}


.p_content2 {
  height: 72px;
  width: 460px;
  
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  
  color: #CDCDCD;
}


.button_start_screen {
  height: 52px;
  width: 207px;
  border-radius: 100px;
  padding: 15px 45px 15px 45px;
  
  background: #F1CDB3;
  border-radius: 100px;

  font-family: Georgia;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
/*letter-spacing: 0.06em;*/
  text-align: left;

  color: #292929;
}

.Start_screen_puppy {
  height: 728px;
  width: 698px;
  background-image: url(../img/start-screen-puppy.png);
}
/* section start_screen*/


/* section about settings*/
.About {
  display: flex;
  justify-content: center;
  width: 1280px;
  height: 588px;
  background-color: #FFFFFF;
}


.About_main_div {
  display: flex;
  justify-content: space-around;
  height: 408px;
  width: 1200px;
  margin-top: 80px;
}

.About_pets {
  height: 408px;
  width: 300px;
  margin-left: 175px;
  background-image: url(../img/about-pets.png);
}


.About_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
  width: 430px;
  margin-top: 14px;
  margin-left: 120px;
  margin-right: 175px;
}


.P_heading {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
}


.P_subheading {
  font-family: Arial;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}
/* section about settings*/


/* section Pets settings*/
.Pets {
  display: flex;
  justify-content: center;
  width: 1280px;
  height: 877px;
  background-color: #F6F6F6
}


.Pets_main_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 697px;
  width: 1200px;
  margin-top: 80px;
  

}

.Pets_primary_div {
  display: flex;
  justify-content: space-between;
  height: 435px;
  width: 1200px;
}


.Pets_heading {
  height: 90px;
  width: 400px;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: center;
  

}


.Slider_button {
  display: flex;
  align-items: center;
  height: 52px;
  width: 52px;
  margin-top: 192px;
  border-radius: 100px;
  padding: 23px 19px 23px 19px;
  border: 2px solid #F1CDB3;
}

.Slider_card {
  height: 435px;
  width: 270px;
  background-color:#FAFAFA;
  border-radius: 9px 9px 9px 9px;
}

.Pets_photo {
  height: 270px;
  width: 270px;
}

.Pets_content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 165px;
  width: 270px;
}

.Pets_name {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color:  #545454;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Learn_more_button {
  height: 52px;
  width: 187px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 15px 45px 15px 45px;
  margin-bottom: 30px;
  background-color: #FAFAFA;

}

.Pets_main_button {
  width: 261px;
  height: 52px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  background: #F1CDB3;
  border-radius: 100px;
  border: 0px;
}
/* section Pets settings*/


/* section Help setting*/
.Help {
  display: flex;
  justify-content: center;
  width: 1280px;
  height: 611px;
  background-color: #FFFFFF;
}

.Help_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  Width: 1200px;
  Height: 431px;
  margin-top: 80px;
}

.Help_heading_div {
  height: 90px;
  width: 308px;
}


.Help_list_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  height: 281px;
  width: 1026px;
}


.Help_heading {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  text-align: center;
  

}

.Help_div1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  width: 82px; 
  white-space: nowrap; 
}

.Help_div2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 113px;
  width: 150px;
  margin-left: 120px; 
  white-space: nowrap; 
}

.Help_div3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  width: 60px;
  margin-left: 120px;
  white-space: nowrap;
}

.Help_div4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  width: 153px; 
  margin-left: 120px; 
  white-space: nowrap; 
}

.Help_div5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  width: 101px;
  margin-left: 120px;  
  white-space: nowrap;
}

.Help_div6 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  width: 89px;
  margin-left: 84px; 
  white-space: nowrap; 
}

.Help_div7 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  width: 101px;
  margin-left: 120px;
  white-space: nowrap;
}

.Help_div8 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  width: 165px;
  margin-left: 120px; 
  white-space: nowrap; 
}

.Help_div9 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;
  width: 143px;
  margin-left: 120px;
  white-space: nowrap;
}
  
.h4_help {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #545454;
  
}

/* section Help setting*/


/* sectoin Donation settings */
.Donation {
  display: flex;
  justify-content: center;
  width: 1280px;
  height: 462px;
  background: #F6F6F6;
}

.Donation_main_div {
  display: flex;
  justify-content: space-between;
  height: 282px;
  width: 915px;
  margin-top: 80px;

}


.Donation_photo {
  height: 261px;
  width: 505px;
  margin-top: 11px;
}


.Donation_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 282px;
  width: 380px;
}

.h3_donation {
  height: 90px;
  width: 300px;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}


.h5_donation {
  height: 17px;
  width: 307px;
  font-family: Georgia;
  font-size: 15px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
  white-space: nowrap;
  color: #545454;
}


.Donation_content_div_primary  {
  display: flex;
  height: 43px;
  width: 349px;
  border-radius: 9px;
  padding: 10px 15px 10px 15px;
  background: #F1CDB3;
}


.h4_donation {
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
}


.p_donation {
  height: 72px;
  width: 380px;
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #B2B2B2;  
}
/* sectoin Donation settings */


/* footer*/
.Footer {
  display: flex;
  justify-content: center;
  width: 1280px;
  height: 350px;
  background: linear-gradient(0deg, #211F20, #211F20),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
  
}

.Footer_content_main {
  display: flex;
  justify-content: space-between;
  height: 310px;
  width: 1200px;
  margin-top: 40px;

}


.Contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
  width: 278px;
  margin-top: 16px;

  
}

.h3_footer {
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
/*letter-spacing: 0.06em;*/
  text-align: left;
  color: #FFFFFF;
}


.h4_footer_mail {
  height: 23px;
  width: 191px;
  left: 60px;
  
  
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
/*letter-spacing: 0.06em;*/
  text-align: left;
  color: #F1CDB3;
}

.h4_footer_phone {
  height: 23px;
  width: 179px;
  left: 60px;
  
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
/*letter-spacing: 0.06em;*/
  text-align: left;
  color: #F1CDB3;
}

.h4_footer_loco1 {
  height: 46px;
  width: 260px;
  left: 42px;
  
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
/*letter-spacing: 0.06em;*/
  text-align: left;
  color: #F1CDB3;
}

.h4_footer_loco2 {
  height: 23px;
  width: 260px;
  left: 42px;
  
  font-family: Georgia;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
/*letter-spacing: 0.06em;*/
  text-align: left;
  color: #F1CDB3;
}


.Footer_content_primary1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 32px;
  width: 251px;
  margin-top: 40px;
  color: #F1CDB3;
}

.Footer_content_primary2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 32px;
  width: 239px;
  margin-top: 40px;
  color: #F1CDB3;
}


.Locations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
  width: 302px;
  margin-top: 16px;
  
}


.h3_locations {
  height: 90px;
  width: 270px;
  left: 1px;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0.06em;
  text-align: left;
  
  color: #FFFFFF;
}


.Footer_content_primary3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 46px;
  width: 302px;
  left: 0px;
  margin-top: 34px;
  color: #F1CDB3;
}

.Footer_content_primary4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 32px;
  width: 302px;
  left: 0px;
  margin-top: 32px;
  color: #F1CDB3;
}



.Footer_puppy {
  height: 310px;
  width: 300px;

}
/* footer*/